# Data Cleaning

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv('ev_charging_patterns.csv')

In [18]:
df.head()

,User ID,Vehicle Model,Battery Capacity (kWh),Charging Station ID,Charging Station Location,Charging Start Time,Charging End Time,Energy Consumed (kWh),Charging Duration (hours),Charging Rate (kW),Charging Cost (USD),Time of Day,Day of Week,State of Charge (Start %),State of Charge (End %),Distance Driven (since last charge) (km),Temperature (°C),Vehicle Age (years),Charger Type,User Type
0,User_1,BMW i3,108.463007,Station_391,Houston,2024-01-01 00:00:00,2024-01-01 00:39:00,60.712346,0.591363,36.389181,13.087717,Evening,Tuesday,29.371576,86.119962,293.602111,27.947953,2.0,DC Fast Charger,Commuter
1,User_2,Hyundai Kona,100.000000,Station_428,San Francisco,2024-01-01 01:00:00,2024-01-01 03:01:00,12.339275,3.133652,30.677735,21.128448,Morning,Monday,10.115778,84.664344,112.112804,14.311026,3.0,Level 1,Casual Driver
2,User_3,Chevy Bolt,75.000000,Station_181,San Francisco,2024-01-01 02:00:00,2024-01-01 04:48:00,19.128876,2.452653,27.513593,35.667270,Morning,Thursday,6.854604,69.917615,71.799253,21.002002,2.0,Level 2,Commuter
3,User_4,Hyundai Kona,50.000000,Station_327,Houston,2024-01-01 03:00:00,2024-01-01 06:42:00,79.457824,1.266431,32.882870,13.036239,Evening,Saturday,83.120003,99.624328,199.577785,38.316313,1.0,Level 1,Long-Distance Traveler
4,User_5,Hyundai Kona,50.000000,Station_108,Los Angeles,2024-01-01 04:00:00,2024-01-01 05:46:00,19.629104,2.019765,10.215712,10.161471,Morning,Saturday,54.258950,63.743786,203.661847,-7.834199,1.0,Level 1,Long-Distance Traveler

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1320 entries, 0 to 1319
Data columns (total 20 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   User ID                                   1320 non-null   object
 1   Vehicle Model                             1320 non-null   object
 2   Battery Capacity (kWh)                    1320 non-null   float64
 3   Charging Station ID                       1320 non-null   object
 4   Charging Station Location                 1320 non-null   object
 5   Charging Start Time                       1320 non-null   object
 6   Charging End Time                         1320 non-null   object
 7   Energy Consumed (kWh)                     1254 non-null   float64
 8   Charging Duration (hours)                 1320 non-null   float64
 9   Charging Rate (kW)                        1254 non-null   float64
 10  Charging Cost (USD)                       1320 non-null   float64
 11  Time of Day                               1320 non-null   object
 12  Day of Week                               1320 non-null   object
 13  State of Charge (Start %)                 1320 non-null   float64
 14  State of Charge (End %)                   1320 non-null   float64
 15  Distance Driven (since last charge) (km)  1254 non-null   float64
 16  Temperature (°C)                          1320 non-null   float64
 17  Vehicle Age (years)                       1320 non-null   float64
 18  Charger Type                              1320 non-null   object
 19  User Type                                 1320 non-null   object
dtypes: float64(10), object(10)
memory usage: 206.4+ KB

In [13]:
df.describe()

,Battery Capacity (kWh),Energy Consumed (kWh),Charging Duration (hours),Charging Rate (kW),Charging Cost (USD),State of Charge (Start %),State of Charge (End %),Distance Driven (since last charge) (km),Temperature (°C),Vehicle Age (years)
count,1320.000000,1254.000000,1320.000000,1254.000000,1320.000000,1320.000000,1320.000000,1254.000000,1320.000000,1320.000000
mean,74.534692,42.642894,2.269377,25.963003,22.551352,49.130012,75.141590,153.596788,15.263591,3.612843
std,20.626914,22.411705,1.061037,14.011326,10.751494,24.074134,17.080580,86.004987,14.831216,2.309824
min,1.532807,0.045772,0.095314,1.472549,0.234317,2.325959,7.604224,0.862361,-10.724770,0.000000
25%,62.000000,23.881193,1.397623,13.856583,13.368141,27.786903,62.053266,79.445335,2.800664,2.000000
50%,75.000000,42.691405,2.258136,25.603799,22.076360,48.241771,75.682496,152.259867,14.630846,4.000000
75%,85.000000,61.206218,3.112806,37.502998,31.646044,69.277921,88.201370,226.073284,27.981810,6.000000
max,193.003074,152.238758,7.635145,97.342255,69.407743,152.489761,177.708666,398.364775,73.169588,11.688592

In [15]:
df["Charging Station Location"].unique()

array(['Houston', 'San Francisco', 'Los Angeles', 'Chicago', 'New York'],
      dtype=object)

In [19]:
df["Charger Type"].unique()

array(['DC Fast Charger', 'Level 1', 'Level 2'], dtype=object)

In [24]:
df["Charging Station ID"].unique()

array(['Station_391', 'Station_428', 'Station_181', 'Station_327',
       'Station_108', 'Station_335', 'Station_162', 'Station_302',
       'Station_493', 'Station_452', 'Station_206', 'Station_78',
       'Station_16', 'Station_96', 'Station_147', 'Station_2',
       'Station_10', 'Station_434', 'Station_125', 'Station_81',
       'Station_485', 'Station_140', 'Station_326', 'Station_150',
       'Station_288', 'Station_361', 'Station_340', 'Station_129',
       'Station_438', 'Station_239', 'Station_58', 'Station_198',
       'Station_211', 'Station_402', 'Station_390', 'Station_45',
       'Station_97', 'Station_279', 'Station_23', 'Station_410',
       'Station_461', 'Station_44', 'Station_27', 'Station_282',
       'Station_463', 'Station_36', 'Station_109', 'Station_55',
       'Station_192', 'Station_219', 'Station_185', 'Station_69',
       'Station_317', 'Station_130', 'Station_378', 'Station_336',
       'Station_87', 'Station_294', 'Station_119', 'Station_208',
       'Station_334', 'Station_413', 'Station_154', 'Station_35',
       'Station_79', 'Station_67', 'Station_343', 'Station_34',
       'Station_169', 'Station_151', 'Station_71', 'Station_3',
       'Station_314', 'Station_32', 'Station_287', 'Station_82',
       'Station_43', 'Station_105', 'Station_1', 'Station_61',
       'Station_270', 'Station_180', 'Station_224', 'Station_6',
       'Station_103', 'Station_90', 'Station_226', 'Station_158',
       'Station_228', 'Station_405', 'Station_126', 'Station_444',
       'Station_209', 'Station_74', 'Station_115', 'Station_191',
       'Station_495', 'Station_170', 'Station_307', 'Station_448',
       'Station_204', 'Station_56', 'Station_41', 'Station_15',
       'Station_62', 'Station_155', 'Station_284', 'Station_320',
       'Station_494', 'Station_187', 'Station_498', 'Station_442',
       'Station_127', 'Station_292', 'Station_114', 'Station_199',
       'Station_13', 'Station_271', 'Station_89', 'Station_215',
       'Station_278', 'Station_447', 'Station_474', 'Station_481',
       'Station_203', 'Station_25', 'Station_101', 'Station_176',
       'Station_427', 'Station_117', 'Station_166', 'Station_429',
       'Station_344', 'Station_424', 'Station_366', 'Station_120',
       'Station_145', 'Station_216', 'Station_229', 'Station_313',
       'Station_352', 'Station_377', 'Station_318', 'Station_472',
       'Station_137', 'Station_324', 'Station_337', 'Station_273',
       'Station_306', 'Station_368', 'Station_94', 'Station_168',
       'Station_341', 'Station_149', 'Station_183', 'Station_152',
       'Station_365', 'Station_401', 'Station_274', 'Station_42',
       'Station_496', 'Station_212', 'Station_17', 'Station_73',
       'Station_14', 'Station_433', 'Station_157', 'Station_223',
       'Station_132', 'Station_338', 'Station_404', 'Station_376',
       'Station_47', 'Station_107', 'Station_265', 'Station_205',
       'Station_476', 'Station_247', 'Station_19', 'Station_346',
       'Station_436', 'Station_26', 'Station_217', 'Station_174',
       'Station_92', 'Station_480', 'Station_131', 'Station_450',
       'Station_298', 'Station_275', 'Station_492', 'Station_417',
       'Station_76', 'Station_177', 'Station_184', 'Station_319',
       'Station_363', 'Station_49', 'Station_355', 'Station_200',
       'Station_308', 'Station_356', 'Station_373', 'Station_118',
       'Station_263', 'Station_46', 'Station_400', 'Station_408',
       'Station_189', 'Station_310', 'Station_266', 'Station_464',
       'Station_144', 'Station_487', 'Station_348', 'Station_134',
       'Station_148', 'Station_233', 'Station_299', 'Station_161',
       'Station_121', 'Station_301', 'Station_63', 'Station_451',
       'Station_68', 'Station_253', 'Station_459', 'Station_398',
       'Station_286', 'Station_218', 'Station_269', 'Station_382',
       'Station_98', 'Station_236', 'Station_412', 'Station_304',
       'Station_484', 'Station_66', 'Station_234', 'Station_457',
       'Station_254', 'Station_380', 'Station_84', 'Station_276',
       'Station_387', 'Station_268', 'Station_296', 'Station_322',
       'Station_100', 'Station_272', 'Station_339', 'Station_238',
       'Station_18', 'Station_12', 'Station_123', 'Station_246',
       'Station_222', 'Station_51', 'Station_488', 'Station_48',
       'Station_262', 'Station_53', 'Station_357', 'Station_135',
       'Station_443', 'Station_11', 'Station_143', 'Station_293',
       'Station_9', 'Station_93', 'Station_454', 'Station_328',
       'Station_267', 'Station_422', 'Station_106', 'Station_381',
       'Station_364', 'Station_122', 'Station_446', 'Station_371',
       'Station_257', 'Station_359', 'Station_4', 'Station_426',
       'Station_397', 'Station_354', 'Station_85', 'Station_214',
       'Station_197', 'Station_330', 'Station_392', 'Station_441',
       'Station_383', 'Station_329', 'Station_8', 'Station_250',
       'Station_139', 'Station_124', 'Station_309', 'Station_469',
       'Station_112', 'Station_477', 'Station_362', 'Station_460',
       'Station_240', 'Station_242', 'Station_342', 'Station_478',
       'Station_167', 'Station_20', 'Station_393', 'Station_86',
       'Station_375', 'Station_248', 'Station_70', 'Station_57',
       'Station_39', 'Station_289', 'Station_440', 'Station_220',
       'Station_244', 'Station_283', 'Station_110', 'Station_331',
       'Station_232', 'Station_64', 'Station_455', 'Station_213',
       'Station_258', 'Station_175', 'Station_291', 'Station_435',
       'Station_370', 'Station_88', 'Station_72', 'Station_30',
       'Station_172', 'Station_394', 'Station_194', 'Station_186',
       'Station_164', 'Station_431', 'Station_403', 'Station_210',
       'Station_350', 'Station_251', 'Station_321', 'Station_280',
       'Station_5', 'Station_414', 'Station_182', 'Station_285',
       'Station_259', 'Station_104', 'Station_379', 'Station_255',
       'Station_386', 'Station_156', 'Station_77', 'Station_470',
       'Station_188', 'Station_333', 'Station_178', 'Station_40',
       'Station_416', 'Station_65', 'Station_388', 'Station_445',
       'Station_421', 'Station_221', 'Station_237', 'Station_497',
       'Station_159', 'Station_409', 'Station_300', 'Station_396',
       'Station_256', 'Station_353', 'Station_325', 'Station_312',
       'Station_99', 'Station_482', 'Station_75', 'Station_33',
       'Station_171', 'Station_399', 'Station_261', 'Station_83',
       'Station_351', 'Station_281', 'Station_420', 'Station_146',
       'Station_419', 'Station_462', 'Station_260', 'Station_349',
       'Station_425', 'Station_207', 'Station_28', 'Station_116',
       'Station_347', 'Station_423', 'Station_407', 'Station_59',
       'Station_479', 'Station_415', 'Station_367', 'Station_439',
       'Station_80', 'Station_195', 'Station_369', 'Station_305',
       'Station_311', 'Station_196', 'Station_437', 'Station_165',
       'Station_37', 'Station_468', 'Station_7', 'Station_249',
       'Station_297', 'Station_231', 'Station_453', 'Station_358',
       'Station_475', 'Station_128', 'Station_179', 'Station_193',
       'Station_141', 'Station_95', 'Station_385', 'Station_21',
       'Station_471', 'Station_372', 'Station_486', 'Station_277',
       'Station_384', 'Station_227', 'Station_323', 'Station_153',
       'Station_201', 'Station_315', 'Station_466', 'Station_252',
       'Station_430', 'Station_38', 'Station_389', 'Station_235',
       'Station_133', 'Station_499', 'Station_418', 'Station_332',
       'Station_138', 'Station_52', 'Station_458', 'Station_24',
       'Station_483', 'Station_473', 'Station_241', 'Station_489',
       'Station_22', 'Station_374'], dtype=object)

In [54]:
def convert_station_id(row):
    station_id = int(row["Charging Station ID"].split("_")[1])
    city = row["Charging Station Location"]
    return f"{city}_{station_id}"


df["station_id"] = df.apply(convert_station_id, axis=1)
df.head()

,User ID,Vehicle Model,Battery Capacity (kWh),Charging Station ID,Charging Station Location,Charging Start Time,Charging End Time,Energy Consumed (kWh),Charging Duration (hours),Charging Rate (kW),...,Time of Day,Day of Week,State of Charge (Start %),State of Charge (End %),Distance Driven (since last charge) (km),Temperature (°C),Vehicle Age (years),Charger Type,User Type,station_id
0,User_1,BMW i3,108.463007,Station_391,Houston,2024-01-01 00:00:00,2024-01-01 00:39:00,60.712346,0.591363,36.389181,...,Evening,Tuesday,29.371576,86.119962,293.602111,27.947953,2.0,DC Fast Charger,Commuter,Houston_391
1,User_2,Hyundai Kona,100.000000,Station_428,San Francisco,2024-01-01 01:00:00,2024-01-01 03:01:00,12.339275,3.133652,30.677735,...,Morning,Monday,10.115778,84.664344,112.112804,14.311026,3.0,Level 1,Casual Driver,San Francisco_428
2,User_3,Chevy Bolt,75.000000,Station_181,San Francisco,2024-01-01 02:00:00,2024-01-01 04:48:00,19.128876,2.452653,27.513593,...,Morning,Thursday,6.854604,69.917615,71.799253,21.002002,2.0,Level 2,Commuter,San Francisco_181
3,User_4,Hyundai Kona,50.000000,Station_327,Houston,2024-01-01 03:00:00,2024-01-01 06:42:00,79.457824,1.266431,32.882870,...,Evening,Saturday,83.120003,99.624328,199.577785,38.316313,1.0,Level 1,Long-Distance Traveler,Houston_327
4,User_5,Hyundai Kona,50.000000,Station_108,Los Angeles,2024-01-01 04:00:00,2024-01-01 05:46:00,19.629104,2.019765,10.215712,...,Morning,Saturday,54.258950,63.743786,203.661847,-7.834199,1.0,Level 1,Long-Distance Traveler,Los Angeles_108

In [92]:
#df.groupby("Charging Station Location")["Chargin Rate (kW)"].avg()

df.groupby(by = ["Charging Station Location"])["Charging Rate (kW)"].sum()
df.groupby(by = ["Charging Station Location","Charger Type"])[["Charging Rate (kW)"]].mean()

                                           Charging Rate (kW)
Charging Station Location Charger Type
Chicago                   DC Fast Charger           25.661646
                          Level 1                   24.794610
                          Level 2                   26.552474
Houston                   DC Fast Charger           26.244765
                          Level 1                   26.254175
                          Level 2                   27.829143
Los Angeles               DC Fast Charger           25.044251
                          Level 1                   24.653145
                          Level 2                   26.452764
New York                  DC Fast Charger           25.512762
                          Level 1                   26.273226
                          Level 2                   26.781591
San Francisco             DC Fast Charger           25.170358
                          Level 1                   28.178996
                          Level 2                   24.295447

In [16]:
import random

# Approx bounding boxes: (min_lat, max_lat, min_lon, max_lon)
CITY_BOUNDS = {
    "Houston":       (29.5, 30.2, -95.8, -95.0),
    "San Francisco": (37.6, 37.9, -122.55, -122.35),
    "Los Angeles":   (33.9, 34.3, -118.6, -118.1),
    "Chicago":       (41.6, 42.1, -88.0, -87.5),
    "New York":      (40.5, 40.9, -74.3, -73.7)
}

In [ ]:
df["Charging Station Location"].value_counts().sort_index()

Charging Station Location
Chicago          242
Houston          262
Los Angeles      297
New York         255
San Francisco    264
Name: count, dtype: int64

In [99]:
station_df = df[["Charging Station ID", "station_id", "Charging Station Location", "Charger Type"]]
station_df.set_index("station_id").sort_index()

,Charging Station ID,Charging Station Location,Charger Type
station_id,,,
Chicago_1,Station_1,Chicago,Level 2
Chicago_10,Station_10,Chicago,Level 1
Chicago_10,Station_10,Chicago,Level 2
Chicago_10,Station_10,Chicago,DC Fast Charger
Chicago_104,Station_104,Chicago,Level 1
...,...,...,...
San Francisco_93,Station_93,San Francisco,Level 1
San Francisco_97,Station_97,San Francisco,DC Fast Charger
San Francisco_97,Station_97,San Francisco,Level 1
San Francisco_98,Station_98,San Francisco,DC Fast Charger
San Francisco_98,Station_98,San Francisco,DC Fast Charger

In [100]:
station_df = station_df.drop_duplicates()

In [59]:
station_df["station_id"].unique()

array(['Houston_391', 'San Francisco_428', 'San Francisco_181', ...,
       'New York_353', 'New York_374', 'Los Angeles_128'], dtype=object)

In [102]:
station_df["Charger Type"].unique()

array(['DC Fast Charger', 'Level 1', 'Level 2'], dtype=object)

In [ ]:
station_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1016 entries, 0 to 1319
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Charging Station ID        1016 non-null   object
 1   station_id                 1016 non-null   object
 2   Charging Station Location  1016 non-null   object
dtypes: object(3)
memory usage: 31.8+ KB

In [101]:
station_df.to_csv('stations.csv', index=False)

In [75]:
df.to_csv("ev_charging_patterns_new.csv", index=False)